<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<!-- this is a comment in HTML -->
	<div class="container">
		<div class="jumbotron">
  			<h1>{{projectName}}</h1>
  			<p>Late Cretaceous sauropod from South America</p>
		</div>

		<p>Puertasaurus is a genus of sauropod dinosaur that lived in South America during the Late Cretaceous Period. It is known from a single specimen recovered from sedimentary rocks of the Cerro Fortaleza Formation in southwestern Patagonia, Argentina, which probably is Campanian or Maastrichtian in age. The only species is Puertasaurus reuili. Described by the paleontologist Fernando Novas and colleagues in 2005, it was named in honor of Pablo Puerta and Santiago Reuil, who discovered and prepared the specimen. It consists of four well-preserved vertebrae, including one cervical, one dorsal, and two caudal vertebrae. Puertasaurus is a member of Titanosauria, the dominant group of sauropods during the Cretaceous.</p>

		<p>Puertasaurus was a very large animal. Its size is difficult to estimate due of the scarcity of its remains, but modern estimates place it around 30 meters (98 feet) long and 50 metric tons (55 short tons) in mass. The largest of the four preserved bones is the dorsal vertebra, which at 1.68 meters (5 ft 6 in) wide is the broadest known vertebra of any sauropod. The Cerro Fortaleza Formation is of uncertain age, due to the inconsistency of stratigraphic nomenclature in Patagonia. When Puertasaurus was alive, the Cerro Fortaleza Formation would have been a humid, forested landscape. Puertasaurus would have shared its habitat with other dinosaurs, including another large sauropod, Dreadnoughtus, in addition to other reptiles and fish.</p>

    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>User</td>
              <th>Salient need</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Puertasaurus</td>
              <td>Wants to eat grassy nubs in herds and gather to be safe from predators that 
              might feed on its vulnerable young.</td>
            </tr>
            <tr>
              <td>Student 5th grade</td>
              <td>Desire to take down juvenile and sickly Puertasaurus as an easy
              meal to feed their own young.</td>
            </tr>  
          </tbody>          
        </table>
      </div>
      <div class="col-md-6">
        <img src="http://lorempixel.com/g/520/150/technics" alt="Lorem Pixel image" class="img">
      </div>
    </div>

		<p>Puertasaurus is differentiated from other sauropods based on a unique combination of features. These features consist of the heavily expanded neural spines on the cervical vertebrae, which result in the neural spines being longer than the vertebral body. The neural spines possess strong dorsolateral (high on the side) ridges, robust spinoprezygapophyseal laminae (projections in front of the neural spine) of the posterior cervicals, anterior dorsals that are very short from front to back, and the animal's giant size.</p>

    <p><a href="window.history.back()">Back</a></p>

    <br>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
